body {
    padding: 40px;
    background-color: rgb(216, 221, 226);
}

h1 {
    color: darkslateblue;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.borde {
    border: 3px darkslateblue solid;
    padding: 40px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

#p_error {
    text-align: center;
    color: red;
}