body{
	padding: 20px;
}
h2{
    color: red;
    text-align: center;
    text-shadow: 3px;
    font-size: 50px;
    margin: 50px;
    text-decoration: dotted;
}
p{
	margin: 30px;
    font-size: 24px;
}

details{
	background-color: rgb(216, 221, 226);
	margin-left: 30px;
	font-size: 24px;
	color: mediumslateblue;
}

details summary{ 
    cursor: pointer; 
}

#info{
	font-family: "Consolas";
	margin-left: 40px;
	font-size: 20px;
	padding: 20px;
	color: darkslategrey;
}

hr{
    background-color: slateblue;
    height: 10px;
}